name: Build, Push and Deploy Docker Image to EC2

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Prepare Docker tag
        id: prep
        run: echo "TAG=$(echo '${{ secrets.DOCKERHUB_USERNAME }}' | tr -d '\n' | tr -d '\r')/my-medicals:latest" >> $GITHUB_ENV

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ env.TAG }}

  deploy:
    runs-on: ubuntu-latest
    needs: docker

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/my-medicals:latest
            docker stop my-medicals || true
            docker rm my-medicals || true
            docker run -d -p 80:80 --name my-medicals ${{ secrets.DOCKERHUB_USERNAME }}/my-medicals:latest
